In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "G:\\MLH\\INIT 2022\\Day2\\(EDITED)_Prime_TV_Shows_Dataset.xlsx"

In [3]:
df = pd.read_excel(file_path, engine='openpyxl')

In [4]:
df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020,1,Hindi,Drama,7.5,18+
1,2,Upload,2020,1,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017,3,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019,2,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016,2,English,Comedy,8.7,18+

In [5]:
df.shape

(393, 8)

In [6]:
df.isna().sum()

S.no.                        0
Name of the show             0
Year of release              0
No of seasons available      0
Language                     0
Genre                        0
IMDb rating                211
Age of viewers               0
dtype: int64

In [7]:
def sort(DataFrame, ascending=bool, col=[0]):
    df = DataFrame
    print(df.sort_values(ascending=bool, by=col))

In [8]:
sort(df, ascending=True, col= ['Name of the show'])

     S.no.                Name of the show  Year of release  \
355    356                #IMomSoHard Live             2019
264    265                   2 Broke Girls             2012
139    140                  21 Jump Street             1987
168    169                        4 Blocks             2017
382    383             A New Kind Of Magic             2017
..     ...                             ...              ...
258    259                   Young Sheldon             2018
221    222          Your brush with Nature             2008
148    149  Z: The Beginning of Everything             2017
280    281                Zabaan Sambhalke             1993
339    340   Zoe Coombs Marr: Bossy Bottom             2020

     No of seasons available Language   Genre  IMDb rating Age of viewers
355                        1  English  Comedy          5.4            16+
264                        6  English  Comedy          6.7            16+
139                        5  English   Drama          NaN            16+
168                        2  English   Drama          NaN            16+
382                        2  English  Comedy          NaN            All
..                       ...      ...     ...          ...            ...
258                        3  English  Comedy          NaN            13+
221                        1  English   Drama          NaN            All
148                        1  English   Drama          7.2            18+
280                        1    Hindi  Comedy          NaN            13+
339                        1  English  Comedy          NaN            18+

[393 rows x 8 columns]